<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
         {{> header}}
        <h1>{{capitalize welcome}}</h1>
       
        <p>Some text here</p>

        {{> footer}}
    </body>
</html>